.login-page{
    text-align:center;
    margin-bottom: 2rem;
    .break{
    border-bottom:1px solid red;
}
}
.contents{
 
    position:relative;
    .login-form, .login-feedback{
        position:absolute;
        top:0;
        left:0;
        right:0;
        border: 3px solid black;
        margin: 0 auto;
    }
    .login-form{
        z-index: 4;
    }
    
}

.login-form{
    max-width: 320px;
    border: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
 
}
.login-feedback{
    text-algin:center;
    width: 420px;
    padding: 2rem;
    background: crimson;
    margin: 0 auto;
}

